
/*---Imports---*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

div{
    width: 20vw;
    height: 75vh;
    background-color: #457b9d;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 0 0 2rem 0;
}

p{
    color: #fefae0;
    font-size: 1.3rem;
    font-family: 'Concert One', cursive;
    margin-left: 3.5rem;
}

span{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

span:hover{
    transform: translate( 1%, 1%);
    border-bottom: 0.2rem red solid;
    cursor: pointer;   
}
