<div class="container">
  <h1>Productos</h1>
  <img
    src="../assets/icons/close-svgrepo-com.svg"
    alt="Close window icon"
    width="30"
    height="30"
    (click)="closeWindow()"
  />

  <section>
    <input type="button" (click)="showProducts()" value="Mostrar productos" />
    <input
      type="button"
      Value="Activar/Inactivar"
      (click)="changeStatus()"
      disabled
      [disabled]="deactivateInputs"
    />
    <input
      type="button"
      Value="Cancelar"
      (click)="cancelProduct()"
      disabled
      [disabled]="deactivateInputs"
    />
    <input
      type="button"
      Value="Marcar Excepción de GMF"
      (click)="untaxMark()"
      disabled
      [disabled]="deactivateInputs"
    />
    <input
      type="button"
      Value="Estado de cuenta"
      (click)="openWindow('financialStatement')"
      [disabled]="deactivateInputs"
    />
  </section>
  <span>
    <p *ngIf="deactivateInputs">Selecciona un producto para modificar:</p>
    <p *ngIf="!deactivateInputs">
      Seleccionaste la cuenta: {{ productToUpdate.account_number }}
    </p>
  </span>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo de cuenta</th>
          <th>Numero</th>
          <th>Estado</th>
          <th>Saldo</th>
          <th>Saldo disponible</th>
          <th>GMF</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products[0]"
          (click)="getProductToChange(product['account_number'])"
          class="accountInfo"
          [ngClass]="{'taxExempt': product['exempt_of_gmf']}"
        >
          <td>{{ product["product_id"] }}</td>
          <td>{{ product["type_of_account"] }}</td>
          <td>{{ product["account_number"] }}</td>
          <td>{{ product["state"] }}</td>
          <td class="currency">{{ product["current_balance"] }}</td>
          <td class="currency">{{ product["available_balance"] }}</td>
          <td>
            <input
              type="checkbox"
              name="exempt_of_gmf"
              id="GMF"
              [checked]="product['exempt_of_gmf']"
              disabled
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-financial-statement
  *ngIf="windowName == 'financialStatement'"
  [productSelected]="productToUpdate"
  (windowSwitch)="windowName = $event"
></app-financial-statement>
<app-toast></app-toast>