/*---Imports---*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

.container {
    position: absolute;
    transform: translate(-50%, -45%);
    top: 50%;
    left: 55%;
    width: 35vw;
    height: 65vh;
    background-color: #e5e5e5;
    border-color: #2a9d8f;
    border-radius: 1rem;
    border-style: solid;
    padding: 4rem;
    padding-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: hidden;
}

img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    right: 1%;
}

img:hover {
    background-color: #dad7cd;
    border-radius: 50%;
}

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.7rem;
    color: #1d3557;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 2rem;
}

label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 10vh;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

section>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

[type="button"] {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 10%;
    font-size: 2rem;
    margin-top: 1.5rem;
    background-color: #52b788;
    color: white;
    height: 3.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    opacity: 0.55;
}

[type="button"]:hover {
    transform: translate(-50%, -46%);
    opacity: 1;
}

[type="radio"],
[type="checkbox"] {
    width: 1.2rem;
    height: 2rem;
}