<div>
    <h1></h1>
    <label for="Ahorros">Tipo de cuenta:</label><br>
    <label for="Ahorros">Ahorros</label>
    <input type="radio" name="type_of_account" id="Ahorros" value="Ahorros" [(ngModel)]="type_of_account" (change)="generateAccountNumber()">
    <label for="Corriente">Corriente</label>    
    <input type="radio" name="type_of_account" id="Corriente" value="Corriente" [(ngModel)]="type_of_account" (change)="generateAccountNumber()"> <br>
    <label for="GMF">Exenta de GMF</label>
    <input type="checkbox" name="exempt_of_gmf" id="GMF" [disabled]="activateFiels" (click)="gmfSwitch()" [(ngModel)]="exemptGMF" [value]="exemptGMF">
    <label for="">Número de cuenta:</label>
    <input type="number" name="account_number" [value]="accountNumber" disabled><br>
    <input type="button" value="Confirmar" (click)="formSubmit()">
</div>