<div>
  <h1>Crear cliente</h1>
  <!-- <form action=""> -->
  <!-- break the ngModel -->
  <img
    src="../assets/icons/close-svgrepo-com.svg"
    alt="Close window icon"
    width="30"
    height="30"
    (click)="closeWindow()"/>
  <section>
    <span
      ><label for="type_of_identification">Tipo de identificación:</label>
      <input
        type="text"
        [(ngModel)]="client.type_of_identification"
        id="type_of_identification"
        placeholder="Cédula de ciudadanía"
        list="typeIdentification"
        required />
      <datalist id="typeIdentification">
        <option value="Cédula de ciudadanía"></option>
        <option value="Cédula de extranjería"></option>
        <option value="NIT"></option>
        <option value="Pasaporte"></option></datalist
    ></span>
    <span
      ><label for="identification_number">Número de identificación:</label>
      <input
        type="text"
        [(ngModel)]="client.identification_number"
        id="identification_number"
        placeholder="Número de identificación"
        required
    /></span>
    <span
      ><label for="name">Nombre completo:</label>
      <input
        type="text"
        [(ngModel)]="client.name"
        id="name"
        placeholder="Ernesto"
        required
        minlength="2"
    /></span>
    <span
      ><label for="lastname">Apellido completo:</label>
      <input
        type="text"
        [(ngModel)]="client.lastname"
        id="lastname"
        placeholder="Pérez"
        required
        minlength="2"
    /></span>
    <span
      ><label for="e_mail">Correo electrónico:</label>
      <input
        type="email"
        [(ngModel)]="client.e_mail"
        id="e_mail"
        placeholder="ejemplo@dominio.com"
        required
    /></span>
    <span
      ><label for="born_date">Fecha de nacimiento:</label>
      <input
        type="date"
        [(ngModel)]="client.born_date"
        id="born_date"
        placeholder="YYYY-MM-DD"
        required
    /></span>
  </section>
  <br />

  <input type="button" (click)="formSubmit()" value="Registrar" />
  <!-- </form> -->
</div>
