<div class="container">
  <h1>Gestionar cliente</h1>
  <img
    src="../assets/icons/close-svgrepo-com.svg"
    alt="Close window icon"
    width="30"
    height="30"
    (click)="closeWindow()"
  />
  <label for="client_id">ID del cliente:</label>
  <input
    type="number"
    [(ngModel)]="clientId"
    [ngModelOptions]="{ standalone: true }"
    id="client_id"
    placeholder="ingresa el ID del cliente"
    required
  />
  <input type="button" (click)="findClientById()" value="Buscar" />
  <input
    type="button"
    (click)="editInfo()"
    value="Editar info"
    [disabled]="activateFiels_1"
  />
  <input
    type="button"
    (click)="formSubmit()"
    value="Guardar info"
    [disabled]="activateFiels_2"
  />
  <input
    type="button"
    (click)="deleteClient()"
    value="Eliminar Cliente"
    [disabled]="activateFiels_2"
  />

  <section class="form">
    <!-- <form action=""> -->
    <!-- break the ngModel -->
    <span>
      <label for="type_of_identification">Tipo de identificación:</label>
      <input
        type="text"
        [value]="client.type_of_identification"
        [(ngModel)]="client.type_of_identification"
        id="type_of_identification"
        placeholder="Cédula de ciudadanía"
        list="typeIdentification"
        disabled />
      <datalist id="typeIdentification">
        <option value="Cédula de ciudadanía"></option>
        <option value="Cédula de extranjería"></option>
        <option value="NIT"></option>
        <option value="Pasaporte"></option></datalist
    ></span>
    <span>
      <label for="identification_number">Número de identificación:</label>
      <input
        type="text"
        [value]="client.identification_number"
        [(ngModel)]="client.identification_number"
        id="identification_number"
        placeholder="Número de identificación"
        disabled
    /></span>
    <span>
      <label for="name">Nombre completo:</label>
      <input
        type="text"
        [value]="client.name"
        [(ngModel)]="client.name"
        id="name"
        placeholder="Pablo"
        [disabled]="activateFiels_2"
        minlength="2"
    /></span>
    <span>
      <label for="lastname">Apellido completo:</label>
      <input
        type="text"
        [value]="client.lastname"
        [(ngModel)]="client.lastname"
        id="lastname"
        placeholder="Pérez"
        [disabled]="activateFiels_2"
        minlength="2"
    /></span>
    <span>
      <label for="e_mail">Correo electrónico</label>
      <input
        type="email"
        [value]="client.e_mail"
        [(ngModel)]="client.e_mail"
        id="e_mail"
        placeholder="ejemplo@dominio.com"
        [disabled]="activateFiels_2"
    /></span>
    <span>
      <label for="born_date">Fecha de nacimiento:</label>
      <input
        type="date"
        [value]="client.born_date"
        [(ngModel)]="client.born_date"
        id="born_date"
        placeholder="YYYY-MM-DD"
        disabled
    /></span>
    <span>
      <label for="creation_user">Usuario de creacion:</label>
      <input
        type="text"
        [value]="client.creation_user"
        id="creation_user"
        disabled
    /></span>
    <span>
      <label for="creation_user">Fecha de creacion:</label>
      <input
        type="datetime-local"
        [value]="client.creation_date_of_the_account"
        id="creation_user"
        disabled
    /></span>
    <span>
      <label for="creation_user">Usuario modificación:</label>
      <input
        type="text"
        [value]="client.last_modification_user"
        id="creation_user"
        disabled
    /></span>
    <span>
      <label for="creation_user">Fecha modificación:</label>
      <input
        type="datetime-local"
        [value]="client.last_modification_date"
        id="creation_user"
        disabled
    /></span>
    <!-- </form> -->
  </section>

  <input
    type="button"
    value="Crear cuenta"
    [disabled]="activateFiels_1"
    (click)="openWindow('createProduct')"
  />

  <input
    type="button"
    value="Consultar productos"
    [disabled]="activateFiels_1"
    (click)="openWindow('productList')"
  />
</div>
<app-create-product
  *ngIf="windowName == 'createProduct'"
  [clientOwner]="client.identification_number"  
  (windowSwitch)="windowName = $event"
></app-create-product>
<app-product-list
*ngIf="windowName == 'productList'"
  [clientOwner]="client.identification_number"
  (windowSwitch)="windowName = $event"
></app-product-list>
